<div class="desc">

 <form action="/comment" method="POST">
    <input type="hidden" name='postid' value="{{item.id}}">
  <div class="form-group">
    <input type="text" class="form-control" name="uname"  required placeholder="用户名">
  </div>

  <div class="form-group">
    <textarea class="form-control" name="content"  required placeholder="评论内容" rows="5"></textarea>
  </div>
  <div class="text-right">
  <button type="submit" class="btn btn-danger">发表评论</button>
  </div>
</form>
</div>


<div class="desc mt-4">
    {%for items in item.Comments%}
        <blockquote>
        <p>{{items.content}}</p>
        </blockquote>
        <p class="tit"><strong>{{items.uname}}</strong> 
           <i class="text-danger ml-3 fa fa-clock-o"></i> {{moment(items.updatedAt).format('YYYY-MM-DD HH:mm:ss')}}
        </p>
    {%endfor%}
</div>

<!-- <div class="desc mt-4">
      <blockquote>
       <p>美视觉整体效果不错，我还去过他们公司，服务态度好，设计出来的风格也很满意，很独特。校对网上直接沟通就可以了。</p>
      </blockquote>
      <p class="tit"><strong>政府机关</strong>  <i class="text-danger ml-3 fa fa-clock-o"></i> 2021-03-06 04:05:36</p>
      <blockquote>
       <p>美视觉在版式排版设计方面有优势，经过了一个多月的设计制作过程，出来的作品很满意，服务态度也不错。以后长期合作了。</p>
      </blockquote>
      <p class="tit"><strong>上市公司</strong>  <i class="text-danger ml-3 fa fa-clock-o"></i> 2021-03-07 04:05:36</p>
</div> -->