<nav class="navbar navbar-expand-lg navbar-dark bg-dark1">
  <a class="navbar-brand" href="/"> <img class="mb-1" src="/img/logo.png" height="24" alt=""> 美景宏图文化传播</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
      </li>
       {%for cates in cate%}
        <li class="nav-item">
            <a class="nav-link" href="/cate/{{cates.aname}}.html">{{cates.catename}}</a>
        </li>
      {%endfor%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          关于我们
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/detail/19.html">公司简介</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/detail/16.html">业务介绍</a>
  </div>
  </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="tel:18911383644">TEL: 18911383644</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0" action="/sou" method="GET">
    <input class="form-control mr-sm-2 my-search" type="sou" name="sou" placeholder="关键词" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
  </form>
  </div>
</nav>