<div class="row text-center">
    <div class="col-md-4">
     <a class="text-reset" href="/cate/zazhi.html">  <img class="pt-3" src="/img/zz.png" alt=""></a> 
        <h2 class="my-3"><a class="text-reset" href="/cate/zazhi.html">杂志设计</a></h2>
        <p>美视觉专业提供期刊杂志版面规划设计，并且可以提供印刷一站式服务</p>
        <p><a class="btn btn-secondary" href="/cate/zazhi.html"><i class="fa fa-eye"></i> 查看详情 »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4">
       <a class="text-reset" href="/cate/neikan.html"> <img class="pt-3" src="/img/nk.png" alt=""></a>

        <h2 class="my-3"><a class="text-reset" href="/cate/neikan.html">内刊设计</a> </h2>
        <p>美视觉提供优秀的内刊版式设计，能为您的刊物、您的企业提升一个高度
        </p>
        <p><a class="btn btn-secondary" href="/cate/neikan.html"><i class="fa fa-eye"></i> 查看详情 »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4">
        <a class="text-reset" href="/cate/nianbao.html"><img class="pt-3" src="/img/bz.png" alt=""></a>

        <h2 class="my-3"> <a class="text-reset" href="/cate/nianbao.html">年报设计</a> </h2>
        <p>美视觉有多年成熟的报纸版面设计经验，高效快速完成报纸的出版日期</p>
        <p><a class="btn btn-secondary" href="/cate/nianbao.html"><i class="fa fa-eye"></i> 查看详情 »</a></p>
    </div><!-- /.col-lg-4 -->
</div>

  

